* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    list-style: none;
    font-family: 'Pretendard-Regular';
}

#header {
    width: 100%;
    height: 10.19vh;
    display: flex;
}

.nav {
    display: inline-block;
    margin-left: 12vw;
    margin-top: 3.98vh;
}

.nav ul li {
    display: inline-block;
    padding-left: 1.30vw;
    font-size: 17px;
}

.nav ul li a {
    color: #252348;
    font-weight: bold;
}

.logo {
    margin-top: 2.96vh;
    margin-left: 4.53vw;
}

.info {
    display: flex;
}

.info ul {
    display: flex;
    margin-top: 3.52vh;
    margin-left: 4.32vw;
}

.info ul li #loginBtn {
    width: 5.73vw;
    height: 3.7vh;
    background-color: #ffffff;
    border-style: solid;
    border-radius: 25px;
    border-color: #252348;
    color: #252348;
    font-size: 13px;
    font-weight: bold;
    margin-right: 1.04vw;
}

.info ul li #joinusBtn {
    width: 5.73vw;
    height: 3.7vh;
    background-color: #252348;
    border-radius: 25px;
    border-style: solid;
    font-size: 13px;
    font-weight: bold;
    margin-right: 1.04vw;
    color: #ffffff;
    border-color: #252348;
}

.info ul li #userBtn, #searhBtn {
    margin-top: 0.46vh;
    margin-right: 1.04vw;
}

.info .line {
    margin-top: 2.5vh;
    border-left: 2.0px solid #919191;
    height: 5.56vh;
}

.memberBtn .member{
    margin-top: 2.78vh;
    margin-left: 2.86vw;
    width: 23px;
    height: 32px;
}

.memberBtn p{
    size: 9px;
    margin-left: 1.82vw;
    padding-top: 0.37vh;
}

.slideshow-container{
    width: 100%;
    height: 50.74vh;
}
.slideshow-container .slideshow-background{
    width: 100%;
    height: 33.7vh;
    background-color: #252348;
}